.git
**/__pycache__/
**/*.pyc
**/*.pyo
**/.pytest_cache/
**/.mypy_cache/
**/.venv/
**/venv/
apps/community_web/node_modules
apps/community_web/build
apps/community_web_next/node_modules
apps/community_web_next/.next
test-results
**/dump.rdb
**/logs
**/.env
