###############
# APPLICATION #
###############

# Django
DJANGO_SECRET_KEY=DJANGO_SECRET_KEY
DJANGO_ALLOWED_HOSTS=hostname1,hostname2,ipaddress1,ipaddress2
DJANGO_CSRF_TRUSTED_ORIGINS=url1,url2,http://127.0.0.1:8000,http://localhost:8000

# Info Core
INFOCORE_IPS=127.0.0.1,localhost

#############
# DATABASES #
#############

# Postgres
COMMUNITY_DB_URL=postgresql://user:password@host:port/db
NEWSCORE_DB_URL=postgresql://user:password@host:port/news_core
MESSAGECORE_DB_URL=postgresql://user:password@host:port/message_core

# Redis
REDIS_DB_URL=redis://user:password@host:port

# Mongodb
MONGODB_HOST=mongodb_host # default is localhost, you can omit if same
MONGODB_PORT=mongodb_port # default is 27018, you can omit if same
MONGODB_USERNAME=mongodb_username
MONGODB_PASSWORD=mongodb_password

#####################
# Tokens, keys, etc #
#####################

# Google
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET

# CoinMarketCap
COINMARKETCAP_API_KEY=COINMARKETCAP_API_KEY
