PROD=PROD_FLAG
NODE=NODE_NAME
MASTER=MASTER_FLAG

# Enabled kline settings
ENABLED_MARKET_KLINES="
UPBIT_SPOT/KRW:BINANCE_USD_M/USDT,
"

# This will be only executed in the master node
ENALBED_ARBITRAGE_MARKETS="
UPBIT_SPOT/KRW:BINANCE_USD_M/USDT,
"

# database settings
MONGODB_HOST=MONGODB_HOST
MONGODB_PORT=MONGODB_PORT
MONGODB_USER=MONGODB_USER
MONGODB_PASS=MONGODB_PASS
REDIS_HOST=REDIS_HOST
REDIS_PORT=REDIS_PORT
REDIS_PASS=REDIS_PASS
POSTGRES_HOST=POSTGRES_HOST
POSTGRES_PORT=POSTGRES_PORT
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASS=POSTGRES_PASS

# monitor settings
ADMIN_TELEGRAM_ID=ADMIN_TELEGRAM_ID
STAFF_TELEGRAM_ID_LIST=STAFF_TELEGRAM_ID1,STAFF_TELEGRAM_ID2
MONITOR_BOT_TOKEN=MONITOR_BOT_TOKEN
MONITOR_BOT_API_URL=MONITOR_BOT_API_URL

# acw settings
ACW_API_URL=ACW_API_URL

# read only API key for fetching data from exchanges
BINANCE_ACCESS_KEY=BINANCE_ACCESS_KEY
BINANCE_SECRET_KEY=BINANCE_SECRET_KEY
OKX_ACCESS_KEY=OKX_ACCESS_KEY
OKX_SECRET_KEY=OKX_SECRET_KEY
OKX_PASSPHRASE=OKX_PASSPHRASE
UPBIT_ACCESS_KEY=UPBIT_ACCESS_KEY
UPBIT_SECRET_KEY=UPBIT_SECRET_KEY
BITHUMB_ACCESS_KEY=BITHUMB_ACCESS_KEY
BITHUMB_SECRET_KEY=BITHUMB_SECRET_KEY
BYBIT_ACCESS_KEY=BYBIT_ACCESS_KEY
BYBIT_SECRET_KEY=BYBIT_SECRET_KEY

# Optional, OPENAI_API_KEY for GPT API
OPENAI_API_KEY=OPENAI_API_KEY

