DJANGO_SECRET_KEY=DJANGO_SECRET_KEY
DJANGO_ALLOWED_HOSTS=hostname1,hostname2,ipaddress1,ipaddress2
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET

COMMUNITY_DB_URL=postgresql://user:password@host:port/db
REDIS_DB_URL=redis://user:password@host:port
MONGODB_USERNAME=mongodb_username
MONGODB_PASSWORD=mongodb_password

COINMARKETCAP_API_KEY=COINMARKETCAP_API_KEY
