# LOCAL_REGISTRY_URL=LOCAL_REGISTRY_URL
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DATABASE_TRADE=POSTGRES_DATABASE_TRADE

# Set the local redis password
REDIS_PASSWORD=REDIS_PASSWORD