LOCAL_REGISTRY_URL="LOCAL_REGISTRY_URL"

POSTGRES_USER="POSTGRES_USER"
POSTGRES_PASSWORD="POSTGRES_PASSWORD"
POSTGRES_DATABASE_COMMUNITY="POSTGRES_DATABASE_COMMUNITY"
POSTGRES_DATABASE_NEWSCORE="POSTGRES_DATABASE_NEWSCORE"
POSTGRES_DATABASE_MESSAGECORE="POSTGRES_DATABASE_MESSAGECORE"

MONGO_INITDB_ROOT_USERNAME="MONGO_INITDB_ROOT_USERNAME"
MONGO_INITDB_ROOT_PASSWORD="MONGO_INITDB_ROOT_PASSWORD"

REDIS_USER="REDIS_USER"
REDIS_PASSWORD="REDIS_PASSWORD"
