# Worker 2: Bithumb ↔ Gate USD-M (example)
WORKER_NAME=worker2
WORKER_MARKET_KLINES="BITHUMB_SPOT/KRW:GATE_USD_M/USDT"
WORKER_NODE=worker2

# Master node connections
WORKER_MONGODB_HOST=MASTER_HOST
WORKER_MONGODB_PORT=27017
WORKER_MONGODB_USER=MONGODB_USER
WORKER_MONGODB_PASS=MONGODB_PASS
WORKER_REDIS_HOST=MASTER_HOST
WORKER_REDIS_PORT=6379
WORKER_REDIS_PASS=REDIS_PASS
WORKER_ACW_API_URL=http://MASTER_HOST:8000
