POSTGRES_USER="POSTGRES_USER"
POSTGRES_PASSWORD="POSTGRES_PASSWORD"
# POSTGRES_DATABASE_COMMUNITY="community"
# POSTGRES_DATABASE_NEWSCORE="news_core"
# POSTGRES_DATABASE_MESSAGECORE="message_core"

MONGO_INITDB_ROOT_USERNAME="MONGO_INITDB_ROOT_USERNAME"
MONGO_INITDB_ROOT_PASSWORD="MONGO_INITDB_ROOT_PASSWORD"

REDIS_USER="REDIS_USER"
REDIS_PASSWORD="REDIS_PASSWORD"

TRON_GRID_API_KEY="TRON_GRID_API_KEY"
